.hero1{
    background-image: 
    linear-gradient(rgba(0, 124, 50, 0.7), rgba(0, 124, 50, 0.7)), 
    url('../images//job.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:350px;
  padding: 40px 0;
}
.hero1 h1{
    color:white;
    font-size: 4rem;
    text-align: center;
    margin-top: 100px;
}