.hero {
  background-image: 
    linear-gradient(rgba(0, 124, 50, 0.7), rgba(0, 124, 50, 0.7)), 
    url('../images/job background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 40px 0;
}
  .hero-content {
    padding: 20px;
    border-radius: 10px;
    width:100%; 
    height: auto;
    margin: 0 auto; 
    text-align: center;
    color:white;
  }
  .search-button {
    display: inline-flex;
    align-items: center;
    text-align:center;
    background-color:#28a745 !important;
    border:1px solid#28a745 !important;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
  }
  .search-input:focus {
    border-color:gray; 
    outline:gray;
    border-color:gray; 
    box-shadow: none; 
}
.search-button:hover {
    background-color: #23de4f !important;
    border:1px solid #23de4f !important;
}
  .stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  
  .stat-box h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  