.hero {
    background-image: url('../images/job background.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero-content {
    padding: 20px;
    background: rgba(12, 57, 23, 0.5); 
    border-radius: 10px;
    width:100%; 
    height: auto;
    margin: 0 auto; 
    text-align: center;
    color:white;
  }
  .search-button {
    display: inline-flex;
    align-items: center;
    background-color:#28a745 !important;
    border:1px solid#28a745 !important;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
  }
  .search-input:focus {
    border-color: white; 
    outline:white;
    border-color: white; 
    box-shadow: none; 
}
.search-button:hover {
    background-color: #23de4f !important;
    border:1px solid #23de4f !important;
}
  .stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  
  .stat-box h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  