
  .navbar .nav-link {
    color: black;
    font-weight: bold;
  }
  .navbar .nav-link:hover {
    color: #28a745 !important;
    transition: color 0.3s ease;
  }
.custom-button {
    background-color:#28a745 !important; 
    color: white; 
    border: 1px solid #28a745 !important; 
  }
  .custom-button:hover {
    background-color:#0fe341 !important; 
    border: 1px solid #0fe341 !important; 
  }
  
  